.food-gallery {
  padding: 60px 20px;
  text-align: center;
  background: #fafafa;
}

.food-gallery h2 {
  font-size: 34px;
  margin-bottom: 25px;
  color: #333;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  justify-items: center;
}

.food-card {
  width: 230px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  transition: 0.3s;
}

.food-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.food-card h3 {
  margin: 12px 0;
  font-size: 18px;
  color: #222;
  padding-bottom: 10px;
}

.food-card:hover {
  transform: scale(1.06);
  box-shadow: 0 10px 24px rgba(0,0,0,0.18);
}
